header {
  align-items: center;
  color: rgb(224, 224, 224);
  display: flex;
  height: 120px;
  justify-content: center;
  width: 60%;
}

header h1 {
  font-size: 80px;
  margin-top: 20px;
  padding-bottom: 15px;
}
