.missionCard {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.411);
  border: solid rgb(119, 119, 119) 2px;
  border-radius: 15px;
  color: rgb(189, 189, 189);
  flex-direction: column;
  height: 170px;
  margin: 30px 10px;
  width: 390px;
}

.missionName {
  font-size: 25px;
  font-weight: 900;
  padding: 10px;
}

.missionCard div {
  border-top: solid rgb(119, 119, 119) 2px;
  font-size: 18px;
  font-weight: 500;
  padding: 20px;
  width: 100%;
}

.missionCard div p {
  width: 100%;
}
