.solarSystem {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.solarSystem h2 {
  background-color: rgba(0, 0, 0, 0.411);
  border: solid rgb(119, 119, 119) 2px;
  border-radius: 15px;
  color: rgb(189, 189, 189);
  font-size: 50px;
  margin-bottom: 40px;
  margin-top: 20px;
  padding: 5px 25%;
}

.solarSystem div {
  display: flex;
}
